[2020-10-29 21:55] gwwatkin opened #1 "Add Measurement Class"
https://github.com/alexnguyenn/lattice-surgery-compiler/blob/c2a0d27b374ccbd3e232f304606caa3abdd4e821/rotation.py#L36

[2020-10-30 09:09] #1 closed, assigned to alexnguyenn

[2021-02-05 11:47] alexnguyenn opened #15 "circuit.render_ascii() not working with measurement"
Same as title. Suggest to use "-M" and "M" to indicate measurement blocks
https://github.com/alexnguyenn/lattice-surgery-compiler/blob/340998d9153a4e2c63ddae3719668f6086333aeb/circuit.py#L194

[2021-02-05 19:57] #15 closed

[2021-02-05 20:29] alexnguyenn opened #17 "circuit.count_rotations_by() does not support measurements"
Same as title. Function won't work with circuits with measurement blocks.

https://github.com/alexnguyenn/lattice-surgery-compiler/blob/91a12cad268ab2d59f66e70b61b9eb89b3e6db57/circuit.py#L209

[2021-02-05 20:30] alexnguyenn commented on #17
Fixed in e37398b

[2021-02-06 12:42] #17 closed

[2021-02-26 11:48] gwwatkin opened #28 "Complex i handling in pauli rotation commuting"
In applying the transformation:
![Screenshot_20210226_092442](https://user-images.githubusercontent.com/36427091/109333571-77d41980-7814-11eb-8cc8-ab6bcf3e04dd.png)
i.e.
![Screenshot_20210226_092506](https://user-images.githubusercontent.com/36427091/109333621-85899f00-7814-11eb-9b07-4d80c308661d.png)

when evaluating the tensor product of Pauli operators `PP'`:

![Screenshot_20210226_093047](http

[2021-02-26 12:02] gwwatkin commented on #28
![FF60238F-9AE1-4393-8312-0DF327E4EAF0](https://user-images.githubusercontent.com/36427091/109297770-d4dec800-7832-11eb-8ead-406cde8b7e6e.png)

[2021-02-26 12:02] gwwatkin commented on #28
Conjecture `c=complex("j"),-complex("j")` never happens when.

[2021-02-26 12:10] gwwatkin commented on #28
![B38241AF-300A-46E5-9480-05A46F45A88C](https://user-images.githubusercontent.com/36427091/109298535-099f4f00-7834-11eb-8694-c083328b1ec6.png)

[2021-02-26 12:14] gwwatkin commented on #28
![EB3FB809-7362-4999-898B-9EA78BD738AF](https://user-images.githubusercontent.com/36427091/109298863-82061000-7834-11eb-8ef4-16c8045c2c05.png)

**Correction 2020-12-01:** The last line has an extra `-` sign, the final operator should be positive.

[2021-02-26 17:18] gwwatkin commented on #28
@alexnguyenn  The argument from the point of view of `Circuit.commute_rotation`. Essentially as long as `P` and `P'` commute, c will never be `+i` or `-i`. In the above example c=-1.

**Proof:** If P and P' anticommute there have to be an odd number of anticommuting pairs of Pauli operators between them (qubits 1,4 and 5 in the example). Call `2k+1` this number. Factoring each `i`  out of the expa

[2021-02-26 17:20] gwwatkin commented on #28
It sounds to me like the easiest solution is to count how many times `Circuit.commute_rotation` detects an `i`, by checking the second returned value, and then counting.

Essentially the only difference with what we have now is that sometime we have to flip the angle to negative, when `iPP'` has a global `c=-1` coefficient.

[2021-03-01 09:45] gwwatkin opened #30 "Handle the commuting of -pi/4 rotations when rotations exponent anti commute"
When `PP'=-P'P`, need to find out if this identity holds:
![Screenshot_20210301_013749](https://user-images.githubusercontent.com/36427091/109479200-02906080-7a2f-11eb-8dc4-0d534595877e.png)
Or how to best commute `-pi/4` rotations past other angles. For example it might be that the best way is to convert a `-pi/4` rotation into 7 `pi/4`s and then commute them one by one with the known identity
![

[2021-03-01 09:46] gwwatkin commented on #28
Forked the issue of the negative case to #30

[2021-03-01 10:30] alexnguyenn commented on #30
**Example of commuting a -pi/4 rotation (P) from Litinski:**

Before:
![image](https://user-images.githubusercontent.com/46719079/109484815-bbf23480-7a35-11eb-9cde-8d56cdcba5fa.png)

After:
![image](https://user-images.githubusercontent.com/46719079/109484926-e217d480-7a35-11eb-981e-e14e1b42628f.png)

[Source for images](www.youtube.com/watch?v=TBJx89yocY8)

[2021-03-01 10:37] #28 closed

[2021-03-01 10:40] alexnguyenn commented on #28
Closed since the original problem is already handled in #29.

[2021-03-04 13:56] gwwatkin commented on #30
The minus sign comes from here https://github.com/alexnguyenn/lattice-surgery-compiler/issues/28#issuecomment-786611605

[2021-03-07 06:02] alexnguyenn opened #33 "Commutation for Pauli operators pair not working as intended"
https://github.com/alexnguyenn/lattice-surgery-compiler/blob/8ecb9eb123375048f48c05a926fbf2d58bbb8826/rotation.py#L27

The function fails to take into account of the actual positions of P and P' when returning iPP'.

For example: Y = iZX != iXZ (= -Y) but PauliOperator.are_commuting() will return (False, PauliOperator.Y) for both cases.

[2021-03-08 12:02] gwwatkin commented on #30
It seems that the rule is just to commute the the -pi/4 without any change.

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/36427091/110318934-04c06500-7fc3-11eb-93b0-78696b6b6a43.png">

[2021-03-08 12:04] alexnguyenn commented on #30
Also after taking a look at the above case, the minus signs for both the pi/8 and measurement came from iXZ = -Y. A new issue has been raised with regards to this #33.

[2021-03-09 09:27] #33 closed

[2021-03-09 09:28] alexnguyenn commented on #30
Problem closed via #33

[2021-03-09 09:28] #30 closed

[2021-03-09 10:25] gwwatkin opened #35 "Remove Y operators from pauli rotations"
We are using the compact block for logical qubits (https://arxiv.org/pdf/1808.02892.pdf sec 2.1) which doesn't support Y operators:

![image](https://user-images.githubusercontent.com/36427091/110456550-8d500b80-807e-11eb-9989-51276e316ec5.png)

[2021-03-09 11:05] gwwatkin opened #36 "Webgui requirements"
To start, in order of priority:
- [x] Make the one page we have look half decent. Handled in #53
- [x] Add some example circuits
- [x] Make a page that displays quantum circuits in Pauli rotation form (Like Litinski). Show intermediate compilation stages like the Litinski transform and  the removal of Y operators.
- [ ] ~Make the website glamorous~ Split to #102
- [ ] ~Add logins so users can uplo

[2021-03-10 10:14] gwwatkin opened #37 "Patch state simulation"

[2021-03-10 11:12] gwwatkin commented on #35
The "best case" is when we have an odd number of Pauli operators in the exponent say  `i*pi/8*XYYIY`, then `XYYIY` and `IZZIZ` anticommute and as shown below we can use an identity to make to turn `i*pi/8*XYYIY` into `i*pi/8*i*(XYYIY)*(IZZIZ)` which turns into  `i*pi/8*(XXXIX)`.

In the even case we can't find an anticommuting operator to make the y's disappear, so we select one of the Y's and mak

[2021-03-11 10:04] gwwatkin opened #38 "Migrate the webgui to Django"
Will help keep things more organized

[2021-03-11 10:07] gwwatkin opened #39 "Live deployment with Django"
To `latticesurgery.com`. Should be possible to do it entirely by editing the deploy shell scripts. Open to other solutions too.

[2021-03-11 10:10] gwwatkin opened #40 "Simulation of patch states"

[2021-03-11 10:19] gwwatkin opened #41 "Weeks 8 and 9 progress report"

[2021-03-11 10:20] gwwatkin opened #42 "Home page content"

[2021-03-11 10:58] #41 closed

[2021-03-12 10:18] gwwatkin opened #44 "Check correcteness of the removal of Y operators from measurements"
We just have to make sure that the math checks out so that the way we currently are removing Y operators from measurements is correct.

Currently the procedure is identical to how they are removed in Pauli rotations #35. We just have to check that it is correct

[2021-03-12 19:11] #35 closed

[2021-03-13 17:44] gwwatkin opened #47 "View separable states in UI"
Currently pure patch states are only tracked as long as no operation happen to them. Now patch states will no longer be tracked by the individual patches. Instead a global register state will track the quantum state, and where qubits are separable, they will be extracted from the global state and displayed in the UI.

Splits from #40

[2021-03-13 17:46] gwwatkin commented on #40
PR #46 adds tracking of the internal state. Issue #47 was created to make the state tracking visible in the UI

[2021-03-13 17:51] gwwatkin commented on #47
In short it will replace some of the `|?>` by actual states.

Ideally enough for a teleportation protocol example.

[2021-03-15 18:43] #40 closed

[2021-03-15 18:43] #37 closed

[2021-03-16 10:19] gwwatkin opened #48 "Figure out correction conditions in logical_lattice_ops.py"
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/79227c26676ebadcb721653e328cc5f9b7236c07/logical_lattice_ops.py#L160-L161

[2021-03-16 11:16] #38 closed

[2021-03-16 15:30] gwwatkin opened #49 "Add support for measurement operators in QASM"
A quantum circuit may have measurements before the end of the computation. Since PYZX only supports reversible computation, one must manually handle the measurement.

The plan is to pre parse the input circuit with qiskit (this may come at the cost of dropping support for non QASM circuits) and break it into reversible sections, to be handed over to pyzx for further processing, and measurements, t

[2021-03-16 15:37] gwwatkin opened #50 "Add support for simple conditional operations of QASM"
Support statements like:
[code]
Useful for things like the teleportation protocol.

Examples like the one above can already be implemented at the circuit level using [EvaluationCondition](https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/974073938483b3535046deb16552b6c259d4b368/conditional_operation_control.py#L16) and related classes.

This issue is mainly related to parsing. A

[2021-03-17 09:14] gwwatkin commented on #47
**Note:** Global pahse is not necessarily preserved in separable states. For example:

![image](https://user-images.githubusercontent.com/36427091/111442717-df6bdf00-86c5-11eb-93cd-898faa5e2685.png)
Results in:
![image](https://user-images.githubusercontent.com/36427091/111442667-d1b65980-86c5-11eb-885f-1d2e80a4fd37.png)
(Would expect `-1*|1>`)

This is a side effect of computing the partial trace

[2021-03-17 20:35] Keelando commented on #36
I will start on making a base template to make the website a bit more presentable.

[2021-03-17 21:01] gwwatkin opened #53 "Base Template for public website"
Starting on making a base template to make the website a bit more presentable.

[2021-03-17 21:01] gwwatkin commented on #36
Split to #53

[2021-03-17 21:06] #47 closed

[2021-03-19 11:20] gwwatkin opened #54 "Implement the Magic State Distillation Protocol"

[2021-03-22 07:22] gwwatkin opened #56 "Port the latest compilation changes to the Django UI"

[2021-03-22 08:21] gwwatkin opened #58 "Add checkbox to circuit submit form to toggle Litinski Transform"
Enable the boolean:
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/efaf8f07b809e32e0aed4f0c1873023f1c794eb0/lattice_surgery_compilation_pipeline.py#L13-L14
here
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/efaf8f07b809e32e0aed4f0c1873023f1c794eb0/web/lattice_main/views.py#L28

[2021-03-22 11:21] gwwatkin opened #59 "Proper compilation view"
#57 introduces a hacked view to show the stages of the compilation rendered as ascii text. ([Example](https://github.com/latticesurgery-com/lattice-surgery-compiler/pull/57#issuecomment-803974110))

We want to be able to visualize circuits and Pauli rotations properly. For circuits we could use directly qiskits' rendering tools: https://qiskit.org/documentation/tutorials/circuits_advanced/03_advan

[2021-03-22 13:16] gwwatkin opened #60 "Contact Form"
To go here
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/f0c7b47747aaa235ea7f5c64c5aa929405b6b79e/web/lattice_main/templates/lattice_main/upload_circuit.html#L59

[2021-03-23 06:38] gwwatkin commented on #42
I think automation closed it, re-opening because the home page still need some content about the Litinski Transform

[2021-03-23 08:49] #56 closed

[2021-03-23 09:00] gwwatkin opened #62 "Dropdown menu to select example circuits"
In the circuit upload page, we would like to have a dropdown that has the filenames then when you select on, it uses an ajax call to pull up a visual representation of the circuit.

[2021-03-24 07:17] Keelando commented on #62
This feature was partially implemented. Right now the web gui just searches the assets folder for all files (minor oversight that it doesn't explicity target .qasm... will fix that.) and then allows the user to choose from that list. I noticed at one point there was a graphical representation of a circuit getting printed to the shell during the calculation. Is this the visualization you want? It w

[2021-03-24 07:34] Keelando commented on #60
I can set up a gmail address such as lattice.surgery.compiler@gmail.com and set it up to forward emails to any of us. You just have to add it to your safe-sender list. Alternatively, if you have email aliases which can't be used to log in to your account, I can just post those in plain text (less desirable option).

[2021-03-24 07:51] Keelando commented on #60
I put a little link to this GitHub at the bottom of the page. I couldn't remember if you had a paper that we should link to? There is an icon in the footer that could link to a paper, preferably one that came from you guys or the department. Could also have a whole page dedicated to the references for "additional reading" :)

[2021-03-24 15:28] gwwatkin commented on #60
We can have info@latticesurgery.com ... I just need to figure out how to edit the dns records... lets wait a moment before setting up gmail

[2021-03-24 15:29] gwwatkin commented on #60
Unfortunately we do not have a paper yet :sweat_smile: ... but yes we do need more info on readings and references

[2021-03-24 15:32] gwwatkin commented on #62
The visualization is back! how it is now is good. Saw you implemented the drop-down. Do you already have an idea of how you would like to visualize the circuit in the upload page? would it show up in a square on the side are you thinking?

If you have the idea you can go ahead and describe it in an issue

[2021-03-24 15:33] #62 closed

[2021-03-24 15:34] gwwatkin commented on #62
Searching `compilation_text` will get you to how to draw circuits.

[2021-03-26 01:34] Keelando commented on #60
Looks like i edited your comment rather than replying to it. You might have read it my comment already, but here it was:

Regarding getting an emailer going, I've spent a lot of effort trying to learn the ropes of emailers and the like. Unless we want to spend $10-15/month for an email service, I have abandoned my dreams of running my own email server. Too much headache. I have found that the gmai

[2021-03-26 06:54] gwwatkin commented on #60
We can use @latticesurgery.com emails with another provider, like even gmail. We just need to set up the dns records right.

[2021-03-26 06:55] gwwatkin commented on #60
No mail server

[2021-03-26 08:14] Keelando commented on #60
Thats awesome. I'll have to learn how to do that for my own websites

[2021-03-26 08:31] #42 closed

[2021-03-26 08:31] #53 closed

[2021-03-26 10:06] #58 closed

[2021-03-30 18:30] gwwatkin opened #66 "Teleportation Example"
As suggested by Kero, for the project's final presentation it would be nice to have a concrete demonstration of something, like a teleportation circuit.

[2021-03-31 14:42] gwwatkin opened #67 "Naming: Enforce ancilla region over ancilla patch multibody measurements"

[2021-03-31 14:48] gwwatkin opened #68 "Distillation of Y eigenstates"
Two modes:
-  Via twist + lattice surgery
-  Via state injection

[2021-03-31 15:01] gwwatkin opened #69 "Exclude from simulation inactive patches"
Patches that have yet to appear on the lattice or that have already been measured are still considered a valid logical qubit at the simulation level making the state vector for long circuits with few gigantic.

[2021-04-02 09:54] gwwatkin opened #71 "Create dependency DAG of circuit of Pauli rotations operations"
To be used later by a scheduler to parallelize operations on the lattice.

Operations that act on different qubits can be parallelized. Need to look into how commuting plays here too. Perhaps things that commute, even when act on the same qubits, should be neighbors in the tree.

[2021-04-02 09:55] gwwatkin commented on #71
**Nice to have:** The tree is abstract so it can be reused for logical lattice operations, which sit between  the circuit of Pauli rotations and actual patch operations

[2021-04-06 10:38] gwwatkin commented on #71
**Idea:** Start from the back of the circuit (chronologically latest) and work bacwards.
Thinking about it more carefull what we need to construct id a dependency DAG, not a tree
**Example:**
[code]
Tree would look something like:
![DependancyDAG](https://user-images.githubusercontent.com/36427091/113698357-3e02f800-9689-11eb-8539-690aba92231a.png)

Where the thicker circled nodes are terminal and

[2021-04-06 12:24] alexnguyenn commented on #71
Since some cases require traversing the tree backwards, we need to keep track of parents as well.

[2021-04-06 16:01] gwwatkin commented on #71
It would be interesting to look into the run time analysis of the  algorithm. Intuitively it looks like `O(depth^2)` but there are only so many pauli matrices, so maybe there is a nice counting argument for which we'll always run into a non commuting operator :thinking:

[2021-04-07 06:42] gwwatkin opened #72 "Website Style"

[2021-04-07 06:52] gwwatkin opened #73 "Y Eigenstate Distillation Boxes"
abstract Y eigenstate distillation into a 2x2x2 box.

Splits from #68 which is now about the internal workings of the distillation

[2021-04-07 06:53] gwwatkin commented on #68
Simplified requirements to  #73. This is now about implementation details, i.e. Twist vs state injection.

[2021-04-07 13:48] alexnguyenn commented on #71
Note: A and B are both commute to C, therefore the above diagram is incorrect.

[2021-04-07 19:46] #72 closed

[2021-04-08 09:19] gwwatkin commented on #71
Thanks! Updated the circuit.

[2021-04-08 14:19] #71 closed

[2021-04-08 18:47] gwwatkin opened #77 "Remember to check conditional dependecies when testing for commutation"
If A is conditional on the outcome of B, even if A and B when unconditioned commute, they don't commute anymore.

The task is to add this behavior, of checking conditional dependencies, to:
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/3b0725b5b1cb402176ce3c9816e884a6d10f431f/rotation.py#L29-L33

[2021-04-13 11:16] #66 closed

[2021-04-15 15:38] #49 closed

[2021-04-18 06:18] gwwatkin opened #82 "Parallelize operations where possible"
In #71 we started working to this task. Now we want to be able to execute as many operations as possible in parallel.

This task is very important towards a potential publication, because the ability to parallelize will let us evaluate the effectiveness of different optimization passes. For example, clearing the stabilizer part of the circuit can reduce the circuit depth, but it may compromise how

[2021-04-18 06:58] gwwatkin commented on #82
## Proposed pipeline
I propose this compilation pipeline to achieve parallelization. The key idea is that we replace steps happening on a linear list with those that operate on the DAG.
### Intermediate representations

  **(1)**  Circuit
  **(2)**  DAG of PauliProductOperations
  **(3)**  DAG of LogicalLatticeOperation
  **(4)**  LatticeSurgeryComputation (slices)

### Stages

**(1)**->**(2)** DA

[2021-04-21 10:42] gwwatkin opened #84 "Simplified Linear Routing"
In the meeting on 2021-04-19 with @alexandrupaler we discussed how to obtain a result we probably want to avoid relying on complex routing algorithms (like the one currently in place based on i-graph/Djikstra's), which many clever people have already worked on.

So we want to operate with a simplified routing model. We do that by generating the ancilla regions over a path of cells that traverses t

[2021-04-21 10:54] gwwatkin commented on #84
As for distillation boxes I suppose the path could touch those too

[2021-04-21 11:23] gwwatkin opened #85 "Depth reduction by rearranging and splitting operations"
In the meeting on 2021-04-19 with @alexandrupaler we discussed how an interesting idea could be split

Once routing is linearized (as per #84), operation scheduling is a matter of arranging line segments. For example all short operations could be grouped together so that they can be packed in the same timestep:
![image](https://user-images.githubusercontent.com/36427091/115545134-4a29b080-a258-11e

[2021-04-22 07:29] gwwatkin commented on #82
After discussing we decided that the DAG will be a template class, to accommodate both `PauliProductOperation`s and `PauliProductOperation`s, and the tree structure will change from a tree of indicees to using direct pointers.

[2021-04-23 17:12] #67 closed

[2021-04-24 11:07] gwwatkin opened #88 "Dependency Graph LaTex Drawing"
Give to each `PauliProductOperation` in the circuit a name like A,B,C .... and then draw the dependency graph:

![Screenshot_20210424_040417](https://user-images.githubusercontent.com/36427091/115956546-38dbe080-a4b2-11eb-9967-3939d9473fb5.png)

This was made with:
[code]

[2021-04-24 23:26] alexnguyenn commented on #88
This might be complicated since we are no longer referencing to the operations in the circuit with their indices (in the DAG). Also there is the problem of layering the DAG so that `tikz` can render it properly.

[2021-04-29 18:19] gwwatkin opened #90 "Rename class Circuit to PauliCircuit"

[2021-04-29 18:26] gwwatkin opened #91 "Define Transversal Operations Requirements"
- Research which operations can be done transversally and in how many timesteps
 - Describe how compilation is impacted:
      Are we doing this?
[code]

[2021-04-29 18:38] gwwatkin commented on #91
An idea, recycle the pauli operation infrastructure to do S and T gates

Clifford set:
   - X, Z -> Transversal, already implemented at the next level:
       https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/ae4a9dc9ebde1c8c38f20fb51b2dc60ee21c8298/logical_lattice_ops.py#L47
   - Y -> avoid it
   - CNOT -> Transversal, make it into a `LogicalCNOT(source_uuid, target_uuid)`
   -

[2021-04-29 18:41] gwwatkin commented on #91
"Generalized circuit" or maybe TrasversalizedCircuit is what holds `self.ops : List[Union[Circuit, Tuple[int,TransversalOp]]]`

[2021-04-30 19:27] gwwatkin opened #92 "Add compilation with transversal operations"
After discussion with @alexandrupaler , we convinced ourselves that what we want for a paper is comparing direct compilation and compilation with the Stabilizer Commuting Transform.

Now compilation is centered around the idea of going through the curcuit of pauli rotations, which is meant for the SCT. Without the SCT we don't need necessarily this representation, and we can perform directly (tran

[2021-04-30 19:28] gwwatkin opened #93 "Add Transversal Operations"
After discussion with @alexandrupaler , we convinced ourselves that what we want for a paper is comparing direct compilation and compilation with the Stabilizer Commuting Transform.

Now compilation is centered around the idea of going through the curcuit of pauli rotations, which is meant for the SCT. Without the SCT we don't need necessarily this representation, and we can perform directly (tran

[2021-04-30 23:07] #88 closed

[2021-05-12 14:53] gwwatkin opened #96 "Compilation: Litinski vs Non-Litinski comparison."
## Targets

**Litinski Compilation:** The one we've been following so far: goes through pauli rotations and multibody measurement with ancilla regions (for which the details of the stabilizer measurements are not 100% clear yet). Includes the stabilizer commuting transform.

**Non-Litinski**: based on the original lattice surgery paper, [Horsman et al. 2013](https://arxiv.org/abs/1111.4022).

The

[2021-05-12 19:39] gwwatkin commented on #91
The problem here is that we are not interested in transversal CNOT. We want to do CNOT by lattice surgery, but not going through Pauli rotations. So the word Transversal is not correct.

[2021-05-12 19:40] #91 closed

[2021-05-13 17:24] gwwatkin commented on #96
@alexandrupaler drawing of the comparison. We looked at the idea by trying the example of a Toffoli gate:
![image](https://user-images.githubusercontent.com/36427091/118162151-47dcf100-b3d5-11eb-94e4-1e8479359c4c.png)

[2021-05-13 17:29] gwwatkin commented on #96
Trying to sum up @alexandrupaler's discussion: The essential idea is that on the fly parallelization might be more effective in Horseman's  formalism. Optimizing Litinski's Pauli rotations becomes a combinatorial problem that could be hard to solve on the fly. On the other hand some circuits (like potentially the Toffoli gate in the example) naturally fall into a parallelizeable configuration.

[2021-08-31 05:17] gwwatkin opened #98 "Unitary Fund Application"
- [x] Meeting discussion:
    * Where do we want to take the project with the grant?
         1. Short Term Goal: QASM to patch compilation. Make it appealing
         2. Long Term Goal: End to End QASM compiler
    * How long will it take to complete the project?
         1. TBD, but the problem is fairly open ended so we can set this arbitrarily. II propose the first quarter of 2022
    * How wi

[2021-08-31 05:20] gwwatkin opened #99 "Move the Web GUI to it's own repo"
- [x] Create a new repo under the org's namespace (say `latticesurgery-com/webgui`)
- [ ] Move the Django website to the new repo
- [ ] ~~Import `lattice-surgery-compiler` with as a git submodule~~ Call the compiler as a service. (depends on #106)
- [ ] Remove unused dependencies (E.g. Django, Pyramids) to make the repo ready to be export it as a python package

[2021-08-31 05:30] gwwatkin opened #100 "Write proper unit tests"

[2021-08-31 05:34] alexnguyenn opened #101 "Implement stylechecks"
Stylecheck (black, isort, flake8 , mypy) on current code as well as setup automate style check for future pull request

[2021-09-08 20:10] Keelando opened #102 "Make the website glamorous"

[2021-09-08 20:14] Keelando opened #103 "Logins for users to upload circuits"
- [ ] Database
- [ ] Authentication
- [ ] Circuit uploading
- [ ] Selection of uploaded circuits

[2021-09-08 20:16] Keelando opened #104 "Algassert Integration"
Integrate the UI from https://algassert.com/quirk so that users can drag and drop edit circuits and compile them or upload them on the spot

[2021-09-08 20:18] Keelando commented on #36
Turned the remaining tasks into issues.

[2021-09-08 20:18] #36 closed

[2021-09-09 17:49] gwwatkin commented on #98
A starting point for reflection (notes with Kero)

**Part 1**
- What exists? Open Surgery other compilers
- what is missing? End to end error correcting compiler
- what can we add? Workflow, ease of access a desirable tool
- why people are interested? a practical tool to compile their circuits

**Part 2**
- How can we achieve the goal / vision
- Concrete steps to take (in the google doc) with time

[2021-09-12 05:46] alexnguyenn commented on #98
**Suggestions:**
- "Work such as Alexandru Paler et al.'s OpenSurgery performs some of the compilation, to intermediate LS formats" - feels like this sentence doesn't fit here, might need to reword it.
- Add "hardware upgrade" (or something similar) to "how will you use the funding" question.
- Also I think it is better to clearly specify who is advisor and who is team member in member list.

[2021-09-14 05:40] gwwatkin opened #105 "Epic: Robustness"
- #99
 - Deployment/CD
 - Unit tests
       - TODO: fill in list
- Logical compilation tests
- Add support for measurements in compilation
- Timeout for long compilations

[2021-09-14 19:47] Keelando commented on #98
I'm happy to continue contributing to this project part time as a web developer working on both the front end UI, the backend web server responsibilities as well as the deployment of the web application.

[2021-09-14 20:01] gwwatkin opened #106 "Host compilation on serverless computing resources"
### Motivation
Compilation of large circuits can be slow. Function as a service can help separate the cost of running compilation.

### Background
Currently our project is hosted on a single server which is both hosting the static site and running the compilation. These are different kinds of loads. Serving the static site requires few resources and a fairly stable load throughout the day, while c

[2021-09-14 21:26] gwwatkin opened #107 "Add support for parsing if statements in QASM"
### Motivation

We want to add support for parsing `if (c0==1) x q[2];` statements. Part of #50.

For this issue the goal is to be able to parse the if statement and get the content of the body, then add the content to the compiled circuit. We will ignore the condition for now, that will be part of completing #50.

### Background
Currently, we are parsing QASM files using Qiskit's parser. If state

[2021-09-15 03:24] gwwatkin opened #109 "Lattice view JSON api"
The lattice view page renders HTML based on the contents of a nested python array of slices made of a grid of cells:

https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/aa3d24a958d5ab84424d0b482d6090a5fc51eb2d/sparse_lattice_to_array.py#L7

To decouple the compiler (#106) we want to be able to send this nested array across the network. The goal is to have something that can be eas

[2021-09-15 05:16] gwwatkin commented on #99
To call the compiler there will be some javascript like:
[code]
How slices were rendered from the template, and now have to be rendered in js:
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/aa3d24a958d5ab84424d0b482d6090a5fc51eb2d/webgui/templates/lattice_view.mak#L89-L94

[2021-09-15 16:02] alexnguyenn commented on #109
Agree with this idea. It makes sense for the lattice view rendering task to be on the front end side.

[2021-09-20 05:54] gwwatkin commented on #109
Added some details about the input and output formats and I suggest using Python's embedded JSON library

[2021-09-23 17:35] gwwatkin commented on #98
### Meeting notes
Kero:
 * less time describing existing work
 * go into more details about what we are doing and will be doing

[2021-09-23 17:40] alexnguyenn commented on #98
I think given Unitary fund's interest is, we should also highlights that we are making a website (so more people can access our tool) and publishing a Python package. Also we should be more in details about what we are planning in 6 months.

[2021-09-23 19:39] gwwatkin commented on #98
Moved the paragraph and video information to this doc https://docs.google.com/document/d/16Y3XX-ZHtsDqjBaDcniN2TLTpZRV3_8eVwQ-OcuFTr4

[2021-09-24 00:16] alexnguyenn commented on #98
@gwwatkin as anyone has the link can edit it, it is preferable that we not share it publicly.

[2021-09-24 02:25] gwwatkin commented on #98
I set it to anyone can comment before sharing

[2021-09-24 03:11] alexnguyenn commented on #98
mb, adding the link back: https://docs.google.com/document/d/16Y3XX-ZHtsDqjBaDcniN2TLTpZRV3_8eVwQ-OcuFTr4/edit?usp=sharing

[2021-09-24 03:43] #90 closed

[2021-10-05 03:47] gwwatkin commented on #106
@Keelando @alexnguyenn
**Status update:**
Setting up the compiler as an AWS Lambda Function.

I tried to get it to work with [localstack](https://github.com/localstack/localstack) so we can test for free on local machines, however it seems we have a showstopper: https://github.com/localstack/localstack/issues/1783. Its too bad because localstack was working nicely otherwise.

Looking into testing

[2021-10-05 17:46] #98 closed

[2021-10-06 19:07] gwwatkin commented on #106
On hold waiting for #109

[2021-10-09 22:14] gwwatkin opened #111 "Make Website Static"
Hosting the website statically as pure HTML/CSS/JS removes the complexity of Python/Django/CD and running servers.

This now possible since the compiler is being moved to server less resources (#106, https://github.com/latticesurgery-com/compiler-lambda/pull/1, #109, #110).

A reference on serverless computing with AWS for ideas: https://aws.amazon.com/getting-started/hands-on/build-serverless-web

[2021-10-09 22:16] gwwatkin commented on #39
Closing in favor of #111

[2021-10-09 22:16] #39 closed

[2021-10-18 03:35] #106 closed

[2021-10-18 03:59] gwwatkin commented on #54
Pausing for now in favor of just having magic states prepared ahead of time (current state)

[2021-10-18 04:44] alexnguyenn opened #113 "Add a License to the project"
As title. @gwwatkin suggested that we looks at LGPL for the compiler and AGPL for the service.

[2021-10-18 05:04] alexnguyenn opened #114 "Reorganize the compiler directory"
As we want to publish the compiler to [PyPI](https://pypi.org/), I suggest that we start to refactor/restructure our compiler repository to be the same as an Python package. This should start after we are done with https://github.com/latticesurgery-com/lattice-surgery-compiler/issues/99 and before any development happens on the compiler.

Some links to look at (for reference) :
- https://docs.pyth

[2021-10-18 05:17] alexnguyenn opened #115 "Setting up documentation with Sphinx and ReadTheDocs"
See https://sphinx-rtd-tutorial.readthedocs.io/en/latest/index.html

[ReadTheDocs](https://readthedocs.org/) allows us to host our documentation with no cost (as we are open source). This issue goes in line with our goal of publishing the compiler as a Python package. Should be done alongside https://github.com/latticesurgery-com/lattice-surgery-compiler/issues/114.

[2021-10-18 05:29] alexnguyenn commented on #59
Moving this to [web-ui](https://github.com/latticesurgery-com/web-ui) as we are separating the Web UI and Compiler repo.

[2021-10-18 05:55] alexnguyenn commented on #114
We can also look how other related libraries setup their repositories:
- https://github.com/Quantomatic/pyzx
- https://github.com/oscarhiggott/PyMatching

Feel free to add suggestions below.

[2021-10-18 21:44] gwwatkin commented on #113
Yeah, I suggest LGPL for the compiler because it promotes the project as remaining open source, but commercial software can still import it (counts as dynamic linking in GPL terms). And AGPL for the service and websites, which is a copyleft license that allows use and hosting by others as long as they provide their derivative work as free as well.

[2021-10-20 23:24] alexnguyenn commented on #114
Also an excellent example from Unitary Fund's Mitiq repo: https://github.com/unitaryfund/mitiq

[2021-10-20 23:47] gwwatkin commented on #114
I also suggest renaming:
 * `Circuit` -> `CircuitOfPauliRotations`
 * `Rotation` -> `PauliRotation`

[2021-10-21 02:40] alexnguyenn commented on #114
I think `CircuitOfPauliRotations` is too long. Maybe something like `PauliCircuit`?

[2021-10-21 05:30] gwwatkin commented on #114
I'm trying to look at it from the point of view of someone who is trying to understand our code, having just looked at it with someone who was puzzled by why a quiskit circuit becomes another `Circuit`. Getting Pauli in is enough to solve that problem. But think of this: if I see a method that returns ` -> CircuitOfPauliRotations` I immediately have an idea of what that is. If I read `-> PauliCirc

[2021-10-21 05:35] gwwatkin opened #116 "Compile circuits with PyZX directly to lattice surgery"
"[The ZX calculus is a language for surface code lattice surgery](https://arxiv.org/abs/1704.08670)"

Which means, that if we are not interested in bench marking things like the stabilizer removing transform in Litinski's formalism, we could go directly to lattice surgery. Wikipedia has a nice [table of conversion](https://en.wikipedia.org/wiki/ZX-calculus#Generators) which includes some ZX to LS.

[2021-10-23 03:55] alexnguyenn opened #117 "Adding Contribution Guide"
See: https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors

[2021-10-23 03:59] alexnguyenn opened #118 "Create Issue Templates"
See: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-10-23 04:01] alexnguyenn opened #119 "Add Code of Conduct"
See: https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/adding-a-code-of-conduct-to-your-project

[2021-10-23 04:12] alexnguyenn opened #120 "Add proper setup configuration"
To add `pyproject.toml` and `setup.cfg`.

[2021-10-23 04:21] alexnguyenn opened #121 "Adding `dev` branch"
Introducing `dev` -> `main` flow for development.

[2021-10-23 04:23] alexnguyenn opened #122 "Implement Automate Testing"
To be implemented after https://github.com/latticesurgery-com/lattice-surgery-compiler/issues/100.

[2021-10-23 04:29] alexnguyenn opened #123 "Adding codecov"
To be done after: https://github.com/latticesurgery-com/lattice-surgery-compiler/issues/100.

[2021-10-23 04:34] alexnguyenn opened #124 "Add `pre-commit` hook"
See: https://pre-commit.com/

[2021-10-23 04:49] gwwatkin commented on #121
Created and protected `dev` branch

[2021-10-23 04:50] gwwatkin commented on #117
Things to add:
  * `feature_branch -> dev -> master/main` workflow
  * One approval required
  * [...]

[2021-10-23 04:50] gwwatkin commented on #121
Noted in the contribution guide issue

[2021-10-23 04:51] #121 closed, assigned to gwwatkin

[2021-10-24 08:32] alexnguyenn commented on #114
Changing name of the issue to fit what we are doing

[2021-10-24 15:32] gwwatkin opened #125 "Auto deploy `dev` to `beta.latticesurgery.com` and `master` to `latticesurgery.com`"

[2021-10-25 07:38] alexnguyenn commented on #114
Here is a preview into the new structure of the repo
[code]

[2021-10-25 07:39] alexnguyenn commented on #114
And inside the `src/` folder:
[code]

[2021-10-25 22:07] alexnguyenn commented on #114
See the [reorgranize-repo](https://github.com/latticesurgery-com/lattice-surgery-compiler/tree/reorganize-repo) branch for the current progress on this issue

[2021-10-29 01:02] Keelando commented on #99
I'm on it. It's going to take some time to de-django-ify. Some of the CSS styling, and default form selections were embedded using Django. I'll also have to learn how to generate CSRF tokens without a server. Perhaps every time someone lands on the page, some JS code runs which pings the Lambda to generate a CSRF token which is subsequently needed to use the API.  And due to the resource intensive

[2021-10-29 01:27] Keelando commented on #111
As I mentioned in another place, I will probably rebuild the website from scratch due to losing the form styling and default form values functionality which was embedded in Django, as well as other conveniences that Django provides for free. It may take me some extra time to learn React and implement CSRF tokens (will generate them with the Lambda), and recreate the templates using a different fra

[2021-10-29 21:14] gwwatkin commented on #99
These are some good considerations. I've already started some basic de-django-ification so let me try to give you some insight.

* CSRF tokens won't be necessary because
* yes, JS code can ping lambdas. To start pinging the compiler at api.latticesurgery.com should be enough, but you can make more if you feel  you need server side services (like a database)
* Requests are throttled by configuring

[2021-10-29 21:19] gwwatkin commented on #111
Addressed these comments [here](https://github.com/latticesurgery-com/lattice-surgery-compiler/issues/99#issuecomment-955052106)

[2021-10-29 22:15] gwwatkin commented on #100
@isolatedinformation is already working on writing some unit tests for #48 and #44

[2021-10-29 23:38] gwwatkin opened #126 "Internal Support for Classical Registers"
## Motivation
For use by the classical control that applies corrective terms. To visualize measurement outcomes.

At a later point we might want to add support for reading QASM that does use classical registers. As well.

## What to do
Classical registers need to be added to the circuit of Pauli rotations and measurements class, to the `LogicalLatticeComputation` and the `LatticeSurgeryComputation

[2021-10-29 23:55] gwwatkin opened #127 "Integration Tests"
Compare the final states of the compiled output vs logical computation

Ideas:
 - Simple examples
   - Some trivial stabilizer examples
   - Of a Bell pair example
   - Teleporting a magic state
- Compare probability distributions when removing stabilizer vs no stabilizer removal
- Find or generate some interesting circuits to use as regression tests.
- Run examples from Litinski's paper

[2021-10-30 00:05] gwwatkin opened #128 "Integration with a Solovay-Kiatev implementation"
So that we can accept circuits with arbitrary rotations.

Need to research libraries. This step would probably go just before reading circuit segments with PyZX.

[2021-10-30 00:53] Keelando commented on #99
Yeah, I realize CSRF tokens aren't necessary until user logins. No cookies, no CSRF, essentially.

I am familar with AJAX , and unless React has its own methodologies regarding asynch HTTP requests, that is how I would do it.

[2021-10-30 01:46] Keelando commented on #99
Completed, and replaced with issue #111

[2021-10-30 01:46] #99 closed

[2021-10-30 17:33] #114 closed, assigned to gwwatkin, alexnguyenn

[2021-11-01 04:44] #118 closed, assigned to nobody

[2021-11-04 23:20] alexnguyenn commented on #120
Right now our dependencies are `qiskit`, `pyzx`, `igraph` and `mako`.
For dev we will add `black`, `flake8`, `isort`, `mypy`, `pytest` and `jsonpickle`.

[2021-11-07 02:28] alexnguyenn commented on #101
Update on progress:
* `black` was done with #129
* `mypy` was done with #136
* configs for those tools will be added in #137

[2021-11-07 14:58] gwwatkin commented on #101
@mstechly, @ntwalibas, @pediejo Update on the style checks and static analysis we discussed. Preparing to move towards automation.

[2021-11-08 01:59] gwwatkin opened #138 "[Feature Request] Speed up simulation by removing patches that are not on the lattice from the state vector"
Issue Description
-----------------
Simulation is a critical bottleneck right now and it is because of simulating useless patches.

Right now simulation of longer circuits happens at a much slower speed because every patch that is ever on the lattice contributes to one big state vector. In particular state vector size grows exponentially with y-depth and t-depth, because each of these operations i

[2021-11-08 02:45] #120 closed, assigned to alexnguyenn

[2021-11-08 02:48] alexnguyenn commented on #138
@isolatedinformation I think your opinion would be helpful here

[2021-11-08 15:36] isolatedinformation opened #140 "Support of equality in Circuit and Lattice classes"
Writing tests involves `assert` statements. Right now, if we compare two objects for equality, it returns `False`. By default, Python object identifiers for comparison operations. The classes that need to support equality are:

in lsqeccc/pauli_rotations:
- [x] `circuit.PauliOpRotation`
- [x] `rotation.PauliProductOperation`
- [x] `rotation.PauliRotation`
- [x] `rotation.Measurement`

in lsqecc/lo

[2021-11-08 16:30] isolatedinformation commented on #138
- **Excluding Patches**
If I understand what you mean correctly, I think we would run into problems similar to `ops.pop()`. If only the correctness of the smaller statevector, this would be alright I think.

- **Seperability and Caching**
    1. Do you mean, there is already a separability algorithm implemented in the package, or do we know which algorithm to implement?
    2. I like the idea of c

[2021-11-08 19:45] alexnguyenn commented on #140
I will handle `pauli_rotations/` stuffs but @gwwatkin can you look at `logical_latice_ops/`?

[2021-11-08 21:56] #113 closed, assigned to nobody

[2021-11-08 22:01] #119 closed, assigned to nobody

[2021-11-09 01:06] gwwatkin commented on #140
@alexnguyenn I can of course, but my understanding was that @isolatedinformation was going to handle this

[2021-11-10 01:04] gwwatkin commented on #117
NOTE: Remember to move the dev setup guide here, from the README

[2021-11-10 01:29] #124 closed, assigned to nobody

[2021-11-10 03:20] alexnguyenn commented on #117
@gwwatkin I think you can take on this since you already wrote the contribution part in our `README`.

[Here is an example](https://github.com/unitaryfund/mitiq/blob/master/CONTRIBUTING.md) from UF's `mitiq`, but there are many templates available online that we could use.

[2021-11-11 18:41] alexnguyenn commented on #101
Final update:
* `flake8` and `isort` done on https://github.com/latticesurgery-com/lattice-surgery-compiler/pull/139
* Add `pre-commit` in https://github.com/latticesurgery-com/lattice-surgery-compiler/pull/143

We choose to use [pre-commit.ci](https://pre-commit.ci/) as automated check due to the minimal configuration required (only [`.pre-commit-config.yaml`](https://github.com/latticesurgery-co

[2021-11-11 18:41] #101 closed

[2021-11-11 22:04] gwwatkin commented on #101
@mstechly, @ntwalibas, @pediejo

[2021-11-11 22:16] mstechly commented on #101
Awesome!

[2021-11-12 01:17] alexnguyenn commented on #140
Added equalities for `PauliRotation` and `Measurement`. There is no need for `PauliOperator` (being an Enum) and `PauliProductOperation` (being an Abstract Base Class - although I will need to rewrite that class a little bit)

[2021-11-14 18:04] #122 closed, assigned to nobody

[2021-11-15 20:26] isolatedinformation opened #156 "[BUG] Commutations between PauliRotation and Measurement"
Issue Description
-----------------

The commutations rules from Litinski Fig 4. are implemented incorrectly for commutations between PauliRotation block and Measurement block.

How to Reproduce
----------------
Run `tests/pauli_rotations/circuit_test.py::test_apply_transformation()`
The third fixture should fail.

Problems
-------------
- For the two cases: P and Q commute and P and Q anticommute

[2021-11-15 20:44] alexnguyenn commented on #115
With #153, our documentation is live on lattice-surgery-compiler.readthedocs.io - even though there are still much works to be done to populate those pages.

[2021-11-15 20:44] #115 closed, assigned to nobody

[2021-11-15 20:46] alexnguyenn commented on #117
Completed with #154

[2021-11-15 20:46] #117 closed, assigned to gwwatkin

[2021-11-16 03:00] gwwatkin opened #158 "[Feature Request] api.latticesurgery.com API doc"
Issue Description
-----------------

Add a page to the API that describes how to use the HTTP rest api (the one at `api.latticesurgery.com` or served by `webapi/local_compiler_api_server.py`)

Proposed Solution
-----------------
Markdown files with curl and python examples, plus formal structure of the response.

Additional References
---------------------
Example request:
https://github.com/latti

[2021-11-18 14:21] gwwatkin commented on #156
For the negative cases

It worked in the case when commuting with other rotations (from https://github.com/latticesurgery-com/lattice-surgery-compiler/pull/29#discussion_r584187612), see below:

**Note** that the anti commuting case still needs to be checked, but this approach might serve as inspiration.

![00336F56-A85A-4B27-98D3-1FB741B3EA35](https://user-images.githubusercontent.com/36427091/10

[2021-11-18 18:17] gwwatkin commented on #156
Do the rules in (a) also apply to (b)? I.e. can we commute measurements the same way we commute Pauli rotations?
![Screenshot_20211118_101550](https://user-images.githubusercontent.com/36427091/142473214-938187b3-6e4b-485a-9f1d-b77b791df1da.png)

Litinski does it in his presentation.

![Screenshot_20211118_101638](https://user-images.githubusercontent.com/36427091/142473354-adf31662-ef4f-4fd8-9bcb

[2021-11-18 18:53] gwwatkin opened #164 "[BUG] Take in account isNegative during simulation of measurements"
Currently the isNegative flag is ignored but it has the effect of inverting the measurement outcome
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/c78c4fdfff645a8ca52c8a8fc2344f18d383aba0/src/lsqecc/simulation/logical_patch_state_simulation.py#L233-L245

[2021-11-18 19:18] alexnguyenn commented on #156
After today's discussion. I think that we should take a test-driven approach for refactoring `commute_pi_over_four_rotation()` and ignore the existing code. We will write the test cases first (with proofs) and then rewrite the method (even divide it to smaller pieces if we need to).

[2021-11-19 01:58] gwwatkin commented on #156
It's starting to sound like the best approach :sweat:

I would also like to have all the cases written out in Latex, so that on a paper we can have an appendix with how all of these things work and maybe add them to the doc. I hope to find the time to do it myself soon, otherwise I'm happy to work with @isolatedinformation and @alexnguyenn  on Overleaf

[2021-11-19 05:27] alexnguyenn commented on #156
@gwwatkin sounds good - I think with myst-parser you can use Latex math syntax ([see here](https://myst-parser.readthedocs.io/en/latest/syntax/optional.html?highlight=latex#direct-latex-math)), which will make it easy for us to put them into our documentation.

I would like to implement the test cases and then the rewriting myself after you guys are done with creating those cases.

[2021-11-19 09:45] isolatedinformation commented on #156
Let's do a test-based approach. A little extra time now would go a long way. I'm also for making the equations in LaTeX. I'd be happy to work on OverLeaf. I'll get started with some today and share the OverLeaf link on Slack.

[2021-11-19 12:39] gwwatkin opened #167 "Add tests __str__ and to_latex tests for the Pauli rotation classes"
Issue Description
-----------------

See #165

Proposed Solution
-----------------

Test these methods comparing outputs

[2021-11-21 05:59] alexnguyenn commented on #123
Looking to have this set up by the end of the week.

[2021-11-22 03:45] #123 closed, assigned to alexnguyenn

[2021-11-22 17:01] #167 closed, assigned to alexnguyenn

[2021-11-23 04:59] alexnguyenn opened #172 "Test `dependency_graph.py`"
As title. Expected to be painful since I don't recall how I implemented it.

[2021-11-23 11:47] gwwatkin commented on #172
The purpose was to introduce a dependency DAG of Pauli operations so that we could execute in parallel as many as possible. Might be some time until we start using it ... I'm inclined to defer this to later.

@alexnguyenn , regardless, I'm happy to help create some test cases

[2021-11-23 12:02] gwwatkin commented on #172
If you choose to merge you can just move #173 to the backlog

[2021-11-24 19:46] gwwatkin opened #176 "[BUG] Identical blocks might break dependecy_graph"
Issue Description
-----------------

This line suggests it:

https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/faad0347ff9f1d8a2b8d6fe2f6d9ca3055e82866/src/lsqecc/logical_lattice_ops/dependency_graph.py#L134

If two blocks are identical they will be interpreted as the same key in this map which doesn't sounds like the desired behavior.

Proposed Solution
-----------------

Need t

[2021-11-24 19:58] alexnguyenn commented on #176
A quick solution I can think of is to remove that method since `DependencyGraph.Node` has parents and children list, which is enough for us to figure out the adjacency list anyway.

[2021-11-24 23:05] gwwatkin commented on #176
It should, as we are only ever using it in a debug file to view the graph. I think working on this class is lower priority than anything in the [UF epic](https://github.com/latticesurgery-com/general-issue-tracker/issues/3), so I think it's fine to leave this for now, but good to have the issue logged if we do start to use it.

[2021-11-24 23:06] gwwatkin commented on #176
If we go back to the plan of parallelizing operations

[2021-11-25 02:08] #172 closed, assigned to alexnguyenn

[2021-11-25 03:00] alexnguyenn commented on #176
I think it will also break this:
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/faad0347ff9f1d8a2b8d6fe2f6d9ca3055e82866/src/lsqecc/logical_lattice_ops/dependency_graph.py#L113-L116

Which is part of the DAG generating method, with `visited` being a set. Looking through the [codecov report](https://app.codecov.io/gh/latticesurgery-com/lattice-surgery-compiler/blob/dev/src/lsqe

[2021-11-25 03:01] alexnguyenn commented on #176
Yeah I will fix the type annotations in there as well. They are a mess 😓

[2021-11-25 03:18] alexnguyenn commented on #176
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/faad0347ff9f1d8a2b8d6fe2f6d9ca3055e82866/src/lsqecc/logical_lattice_ops/dependency_graph.py#L41-L45

lol I override `__eq__` for Node as well. Might need to get rid of it.

[2021-11-25 11:24] gwwatkin commented on #176
It's good we have all these notes. Don't think we need to act on it yet.

[2021-12-02 02:10] alexnguyenn commented on #156
So from the test results from #177, seems like the current implementation works. Though should we consider breaking down the commuting method into smaller sections to make it more readable?

[2021-12-02 10:48] isolatedinformation commented on #156
Yeah I agree. The method `commute_pi_over_four_rotation` should have a better name. Something like would be good I think
[code]
Since the logic for (rotation, rotation) and (rotation, measurement) are same, the respective `swap` functions should handle it two if cases. We can `reorder` instead of `swap` or some other word. I do not think it should be commute as it can misleading

[2021-12-02 12:27] isolatedinformation commented on #156
#179 - I made a pr for this change

[2021-12-02 16:49] isolatedinformation commented on #156
## Litinski's Transform when the circuit has non-consecutive measurements
![image](https://user-images.githubusercontent.com/27089492/144464940-1149f947-7d0e-4f00-ae44-9eb173e73780.png)

This is what happens right now when applying the transformation! Right now the `pop()` of pi/4 assumes that it is last the operation when popping!  Is that pop valid if it is last operation given there are only pi

[2021-12-02 20:01] alexnguyenn commented on #156
Closing this as #179 is merged. For the issue with the transformation, @isolatedinformation you can make a new issue regarding that.

[2021-12-02 20:01] #156 closed, assigned to isolatedinformation

[2021-12-02 20:05] isolatedinformation opened #180 "[BUG] code-logic for `apply_transformation()`"
Issue Description
-----------------

I## Litinski's Transform when the circuit has non-consecutive measurements
![image](https://user-images.githubusercontent.com/27089492/144464940-1149f947-7d0e-4f00-ae44-9eb173e73780.png)

This is what happens right now when applying the transformation! Right now the `pop()` of pi/4 assumes that it is last the operation when popping!  Is that pop valid if it is

[2021-12-06 03:07] alexnguyenn commented on #111
Closing due to react page is functional and ready for deployment.

[2021-12-06 03:07] #111 closed, assigned to Keelando

[2021-12-06 03:13] alexnguyenn commented on #100
@gwwatkin the issue description is too ambiguous, should we change this into something else?

I am thinking either a coverage % target or full coverage for critical components.

[2021-12-06 13:12] gwwatkin commented on #100
@alexnguyenn and @isolatedinformation,

A recap of what's done (please add something if it's missing):
- #162
- #181
- #165
- #168
- #177
- #173
-  We checked all the calculations of the Litinski transform by hand

I propose full coverage of critical components, so near 100% coverage of the following:
- [ ] Circuit of Pauli rotations and associated classes (we should be very close here)
- [ ] Logi

[2021-12-06 20:45] alexnguyenn opened #184 "Refactoring `remove_y_operators_from_circuit`"
`remove_y_operators_from_circuit` is a critical component for our compiler. Right now it contains too many moving parts which makes it hard for us to write tests.

It also uses the `pop` mechanism that we previously decided against. It was meant to move the newly generated pi/4 rotation on the RHS towards the end of the circuit ~~so we don't have to run `apply_transformation` again~~:

https://git

[2021-12-06 20:48] alexnguyenn commented on #100
@gwwatkin this looks great to me. Might want to include the new goals in the description.

[2021-12-06 20:51] alexnguyenn commented on #60
Closing since it is not relevant to this repo anymore. Also we are using info@latticesurgery.com now.

[2021-12-06 20:51] #60 closed

[2021-12-06 21:00] gwwatkin commented on #184
Sounds good. I think we can avoid commuting the RHS corrective terms to the end. It's an extra level of complexity, which without the popping, which we need to remove to preserve state vectors, doesn't buy us anything.

Having this commutation loop was a bit more subtle than just avoiding one more call of the Litinski transform.  Y op removal is only correct if run after the Litinski transform, be

[2021-12-06 21:13] gwwatkin commented on #100
:+1: Added

[2021-12-07 08:10] alexnguyenn commented on #184
@gwwatkin thanks for pointing that out. Just updated the description.

~~Just want to refresh my memories for this, but is there a situation where we need to run this even without Litinski being called prior?~~ Seems like the Y operators are brought out during the process of Litinski transform.

[2021-12-08 00:05] gwwatkin opened #187 "[Feature Request] Migrate Qiskit Aqua"
Issue Description
-----------------

From [qiskit-aqua's readme](https://github.com/Qiskit/qiskit-aqua):

Proposed Solution
-----------------
I think the only feature we are using from aqua is operatorflow. According to the [migration guide](https://github.com/Qiskit/qiskit-aqua#migration-guide), this is just being moved to terra, which will still be part of qiskit, so it should just be a matter o

[2021-12-09 06:06] alexnguyenn commented on #125
@gwwatkin wait isn't this what we just did over [web-ui](https://github.com/latticesurgery-com/web-ui)? Can we close it?

[2021-12-09 10:35] gwwatkin commented on #125
Yep! Just to `dev` instead of `beta`

[2021-12-09 10:35] #125 closed, assigned to nobody

[2021-12-09 10:37] gwwatkin commented on #125
Actually we don't have dev in our workflow for the webapp, since it's a webapp, we just have continuous integration with `main`, requiring manual approval to propagate changes from `dev.latticesurgery.com` to `latticesurgery.com`

[2021-12-19 19:21] gwwatkin opened #193 "[Feature Request] Add all classes to the Docs"
Issue Description
-----------------

We want all classes to be visible in the Sphinx API Docs on Read The Docs.

Proposed Solution
-----------------

@alexnguyenn suggests adding manually to the `docs/source` folder. Then every PR needs to add the docs for the class they are adding.

Another option could be to add everything as auto generated.

[2021-12-20 00:18] #187 closed, assigned to nobody

[2021-12-20 05:08] alexnguyenn commented on #193
Right now I prefer adding them manually using `autodoc`. Configuring the Sphinx's auto generating option will take a lot of time and it's not something I am keen on doing right now.

[2022-01-14 16:24] gwwatkin opened #210 "[Feature Request] Circuit verification via ISM"
Issue Description
-----------------

We want a technique to verify large scale circuits. Verification by comparing the final state-vector is computationally very expensive. A better approach might be to compare the logical circuit and the compiled circuit to a standard form, that is particularly efficient to compare.

Proposed Solution
-----------------
Convert both logical and patch computation c

[2022-01-19 23:44] #184 closed, assigned to alexnguyenn

[2022-01-20 18:59] gwwatkin commented on #140
@isolatedinformation is writing tests he'll decide if llops still need equality

[2022-01-21 08:40] isolatedinformation commented on #140
1. Llops does not need equality. Because we have already verified in Circuit if the ops are equal. Since equality is already implement for Circuit and Rotation classes, and llops attributes are composed of objects from these any assertion that needs to be made can exploit these inbuilt equalities.
2. I don't see the end-user working with the internal details of llops, except for instantiating a Lo

[2022-01-21 08:51] isolatedinformation commented on #164
The orientation of measurement is truncated out in llops. Exactly in the function, `circuit_to_patch_measurement`
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/c5c972e4b335e971eb11543e0be67c8f9bade571/src/lsqecc/logical_lattice_ops/logical_lattice_ops.py#L120-L131

The `isNegative` attribute is just dropped out of computation. Need to add code to include that attribute.

[2022-01-21 13:29] gwwatkin commented on #140
Sounds good, @isolatedinformation. I agree

[2022-01-21 13:29] #140 closed, assigned to isolatedinformation, alexnguyenn

[2022-01-21 14:10] gwwatkin commented on #164
Looks like it just needs to be added to `SinglePatchMeasurement` and `MultiBodyMeasurement`

[2022-01-26 15:07] isolatedinformation commented on #164
#224 partially fixes this issue. need to ensure inclusion in `simulation/` after #219 is closed.

[2022-01-27 09:58] #164 closed, assigned to isolatedinformation

[2022-01-28 07:45] gwwatkin opened #226 "[Feature Request] Compiler Profiling"
Issue Description
-----------------
Need to find which stages of the compiler are taking time

Proposed Solution
-----------------

Profile stages and output results in the compilation text

[2022-01-28 07:49] gwwatkin commented on #54
After discussion with @alexandrupaler, we decided that we do want to account for distillation, but it will happen in "distillation boxes" without worrying about the implementation details

[2022-01-28 07:53] gwwatkin opened #227 "[Feature Request] Basic resource estimation in the form of space time volumes"
Issue Description
-----------------
Ultimately we want to know how many physical qubits and how long will it take to run a circuit.

Proposed Solution
-----------------

Start by outputting how many cells the program takes and how many slices. Enable defining a code distance

[2022-01-28 07:56] gwwatkin opened #228 "[Feature Request] Benchmark with the app oriented circuits"
Issue Description
-----------------
We want an idea of how resource estimation (#227) applies to real work circuits

Proposed Solution
-----------------
Benchmark with some real world circuit that are auto generated

Additional References
---------------------
 Benchmark repo: https://github.com/SRI-International/QC-App-Oriented-Benchmarks

[2022-01-29 21:15] gwwatkin opened #230 "[Feature Request] Sanitize the OpenSurgery situation"
Issue Description
-----------------
#229 introduces [OpenSurgery](https://github.com/alexandrupaler/opensurgery) as a submodule. This might not be desirable because opensurgery doesn't appear to have been actively maintained in the last 2 years and we are using only very little functionality from it. @alexnguyenn  feels strongly about it.

Proposed Solutions
-----------------
- Contribute to OpenS

[2022-01-29 22:04] alexnguyenn commented on #230
I would say 1 and 3 are out of the way. We didn't write opensurgery, so it will take a lot of work with not much to gain for contributing. Option 3 will take a lot of work also.

[2022-01-31 09:27] gwwatkin commented on #210
Posting here the first draft of the issue for reference:

Proposed Solution (First draft)
-----------------

Use the Initialization-CNOT-Measurement (ICM) form. In this form, the computation is expressed as initialization of states (including magic states), a unitary consisting of just CNOTS, and single measurements in the Z and X bases.

### Verification process
![Screenshot_20220114_072229](http

[2022-02-01 09:55] #138 closed, assigned to gwwatkin

[2022-02-01 11:52] gwwatkin opened #233 "[BUG] Cannot decompose arbitrary Z rotations to Clifford+T"
Issue Description
-----------------
For example, cannot decompose a pi/16 rotation about Z. This makes it impossible to run a QFT, making it difficult to run any useful benchmark (like in #228)

How to Reproduce
----------------

1. Cherry-pick [this commit](https://github.com/latticesurgery-com/lattice-surgery-compiler/commit/45f84cbd0670c2eafeff3e972f8af3f554dcf12f) to fix the fact that pyzx has

[2022-02-01 19:14] alexnguyenn commented on #233
Should we switch to parsing with only Qiskit and then do the conversion to Clifford+T?

[2022-02-01 19:51] gwwatkin commented on #233
Switchig to parsing with Qiskit only definitely ... we might even be able to do without one day.

Doing the conversion to Clifford+T ourselves is very difficult. It requires implementing the [Solovay-Kitaev](https://michaelnielsen.org/blog/archive/notes/arxiv_0505030_solovay_kitaev.pdf) algorithm which both Qiskit and Quil are struggling to get merged:
 - https://github.com/Qiskit/qiskit-terra/pul

[2022-02-02 23:28] Keelando commented on #230
Currently fighting this one in #220

How should I utilize Opensurgery?

I have used submodules before but they are hardly "plug and play". When you clone the repo they are usually empty, and stuff breaks. At the very least we need to update the README to spell out exactly how a user can populate the submodule

Can we just periodically copy the entire folder over to our project? If we are using the

[2022-02-03 07:54] Keelando commented on #230
Edit: just ran git submodule init, git submodule update.

Also, with git submodules, we can point our main repo to a specific commit of the submodule, correct? This would ensure that when someone runs "git submodule update" it updates to the desired commit/branch of Opensurgery. However, even though the LSC repo points to a certain commit on Opensurgery, the Opensurgery directory will still be emp

[2022-02-03 08:51] gwwatkin commented on #230
@Keelando will update the readme. I think it's fine for now to have Opensurgery point to the latest commit. You can clone with `git clone --recursive`.

[2022-02-03 08:56] Keelando commented on #230
I have to admit I'm always a little fuzzy on submodules. As long as the behaviour is reproducible it is good. Just like for dependencies, it is often good to lock the version to avoid incorporating breaking changes. Seems like there haven't been updates to the repo in two years though.

[2022-02-03 09:28] isolatedinformation opened #237 "[Feature Request] Explaining Lattice Surgery and links to basic concepts"
Issue Description
-----------------

Right now, the overview section provides insight into what the compiler is based on. But it does not provide resources or a more detailed explanation of what lattice surgery or surface codes is, for people beginners in the topic.

Proposed Solution
-----------------

- Add links to basic resources, like Fowler's paper on Surface Codes, Horsmann's on lattice sur

[2022-02-03 16:59] isolatedinformation commented on #233
These are some of the intersting papers on approximating unitaries.
1. https://arxiv.org/pdf/1212.6253.pdf
2. https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7056491, https://github.com/vadym-kl/sqct/wiki
3. https://arxiv.org/pdf/1403.2975.pdf
4. https://arxiv.org/pdf/2005.05581.pdf

1 uses randomized algorithm under some assumptions, both 2 and 3 use integer factoring as a subroutine, 4

[2022-02-05 11:20] gwwatkin opened #240 "[Feature Request] Expose a public API"
Issue Description
-----------------
At some point we might want to start thinking about what kind of functionality to expose publicly, if we start having a use base for the library as a python package.

Brought up by @alexnguyenn.

Proposed Solution
-----------------

Expose some classes in the global `__init__.py` file of the package. Could be as little as `compile_str` and the output format.

Ho

[2022-02-06 13:37] gwwatkin opened #242 "[Feature Request] Speed up slice composition"
Issue Description
-----------------

From profiling (#228) it emerged that composing the slices is the slowest part of the compilation, even when simulation is disabled:
[code]

The incriminated copy is this one:
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/61c5a94c02564b32d9fb976e44e4e5798f567e7f/src/lsqecc/patches/lattice_surgery_computation_composer.py#L306-L308

And remo

[2022-02-08 16:38] gwwatkin opened #246 "[Feature Request] Come up with an instruction set for lattice surgery that is layout independant"
Issue Description
-----------------
Talking with @alexandrupaler, it came up that it is very desirable to have a language to express lattice surgery instruction before layout and routing.

Proposed Solution
-----------------
The following instructions, new line separated. Note that each instruction (except for the qubit declaration) also have a numeric opcode to reduce file size)

[code]

Where`<p

[2022-02-09 18:45] gwwatkin opened #250 "[Feature Request] Layout Specification Format"
Issue Description
-----------------
We want to be able to specify the layout of a device running a lattice surgery computation. This is required for both visualization and resource estimation.

Proposed Solution
-----------------
We already have a format for representing layouts in [python](https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/db73a34cdfe5230c1afbe32edaf4f9e704fee277

[2022-02-14 17:38] gwwatkin opened #258 "[Feature Request] Use Gate Based Parser to read Pauli rotations as well"
Issue Description
-----------------

#257 introduces gate based circuits. It is desirable to avoid the code duplication that there currently is between the Circuit of Pauli Rotation's parser (introduced by #254) and the Gate based parser.

Also adds a layer of abstraction between QASM and Pauli circuits, which is probably desireable.

Proposed Solution
-----------------

Use the gate based parser

[2022-02-16 11:57] gwwatkin commented on #128
Solved by #235

[2022-02-16 11:57] #128 closed, assigned to nobody

[2022-02-22 09:35] gwwatkin opened #262 "[Feature Request] Compile a 100 Qubit QFT"
Issue Description
-----------------

 As very difficult benchmark circuit we want to compile a 100 qubit QFT.

QFTs are a crucial component in many algorithms, such as Phase estimation and Shor's. It pushes the limits of error corrected computations because it requires the ability to perform

Proposed Solution
-----------------

- [x] Decompose arbitrary gates. Done in #235 and enhanced in #257 to

[2022-02-22 10:19] gwwatkin opened #263 "[Feature Request] Better QFT Compilation in the Pauli formalism"
Issue Description
-----------------

Our implementation of the Pauli Formalism is very slow - see the benchmark in #258. Additionally it also generates 4x more ls instructions, but there is a chance to generate even fewer.

Proposed Solution
-----------------

#### Compilation speed

The slowness, compared to the gate based pipeline, is due to the fact that QFT circuits are dominated by very long

[2022-02-23 16:38] gwwatkin commented on #262
Different pipelines we are looking at:
![image](https://user-images.githubusercontent.com/36427091/155364423-0e08404d-9656-4c1b-8489-5ee958b9ec25.png)

[2022-03-02 22:40] gwwatkin commented on #230
All we are using from OpenSurgery now is the `Qentiana` class. I think the way to proceed is taking out Qentiana from OpenSurgery and putting into it's own repo and calling it from there. Alternatively we can just turn it into our own resource estimation class and keep it in our repository.

[2022-03-06 23:30] gwwatkin commented on #246
@alexandrupaler I think the specification for the opcodes (0 to 7) is ready to be added to the official docs. We can close this issue and move the solution of the corrective term problem to a different issue I think

@alexnguyenn I would add the spec to the markup docs

[2022-03-12 06:56] isolatedinformation commented on #263
What is the status of this issue?

[2022-03-12 14:51] gwwatkin commented on #263
@isolatedinformation No work has been done yet. As by our conversation on Slack, passing it over to you.

CC: @alexnguyenn

[2022-03-18 20:37] isolatedinformation commented on #263
Partly solved by #269! But as mentioned by @gwwatkin LLOPS edge case testing must done for rotations angles like `5pi/8..` raised in issue #271

[2022-03-18 22:00] isolatedinformation opened #271 "[BUG] RotationComposer does not have support for integral mutliples of pi/8 rotations"
Issue Description
-----------------

As suggested in the discussion of PR #269, LLOPs only has support for [`pi/2`, `+/- pi/4` , `+/- pi/8` ]!

https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/d59f4472fe9abfdb303017e9938f9fec73f269d1/src/lsqecc/logical_lattice_ops/logical_lattice_ops.py#L159-L173

To fully take leverage of the compression from this PR, LLOPs should have support

[2022-03-18 23:24] gwwatkin commented on #263
Also this issue has a part about sparse representation for rotations #269 doesn't address that. Perhaps this is best split it a different issue @isolatedinformation ?

[2022-03-18 23:25] gwwatkin commented on #263
We won't be able to compile the 128 QFT without sparse representation

[2022-03-19 09:22] isolatedinformation opened #272 "[Feature Request] Sparse Representation of operations in the Pauli Formalism"
Issue Description
-----------------
Our pipeline pads single-qubit rotations with identities to span the whole width of the circuit. Switching to a sparse format (like in the gate-based pipeline) is likely to speed up this step and drastically reduce memory footprint. (as pointed out in #263 )

<add more details as needed>

[2022-03-19 17:45] gwwatkin commented on #272
I suggest looking at how gates are implemented as an example. Could even add the pauli rotation there, similarly to how the rz is implemented (inheriting from Gate), but with one more parameter for the axis (X/Z)

[2022-03-19 19:06] alexnguyenn commented on #272
Should we save this for when we start migrating to C++ @gwwatkin?

[2022-03-20 12:02] gwwatkin commented on #272
@alexnguyenn and @isolatedinformation, would be nice to get this done in python so we can squeeze it into the paper. It should be fairly quick to implement

[2022-03-21 09:00] isolatedinformation commented on #272
https://github.com/latticesurgery-com/lattice-surgery-compiler/blob/d59f4472fe9abfdb303017e9938f9fec73f269d1/src/lsqecc/gates/gates.py#L53-L64

@gwwatkin shouldn't line 62 be the T gate and not the S gate?

[2022-03-21 09:42] gwwatkin commented on #272
Yes you are right! Good catch

[2022-03-21 09:52] isolatedinformation commented on #272
added the fix for this in #273

[2022-04-12 15:03] gwwatkin commented on #272
@isolatedinformation I think we can can close this after [this comment from 274](https://github.com/latticesurgery-com/lattice-surgery-compiler/pull/274#pullrequestreview-919939757) is adressed:

[2022-04-21 23:08] stylewarning commented on #233
@gwwatkin I expect quilc to be able to do this in an upcoming release, in a few months. Just FYI; happy to keep you updated.

[2022-04-21 23:26] gwwatkin commented on #233
@stylewarning , thanks for the update! :slightly_smiling_face:  We ended up using a package called [Gridsynth](https://www.mathstat.dal.ca/~selinger/newsynth/)  (paper is @isolatedinformation 's [link 3](https://arxiv.org/pdf/1403.2975.pdf) I think)

[2022-04-21 23:26] gwwatkin commented on #233
I think we can consider the issue closed... we've dealt

[2022-04-21 23:26] #233 closed, assigned to gwwatkin

[2022-04-26 14:42] gwwatkin opened #283 "[Feature Request] Add layout spec and distillation times to LLI"
Issue Description
-----------------
### Background

- #250 defined a layout specification, now in use by https://github.com/latticesurgery-com/liblsqecc.
- Though the above spec allows defining distillation regions, the time is always hard coded to 10 timesteps, **we want to be able to specify them manually**.
- #246 introduced Logical Lattice Instructions (LLI) (AKA Lattice Surgery Instructions (

[2022-07-19 20:40] isolatedinformation opened #292 "[Feature Request] Specification for Rectangular Patches"
Issue Description
-----------------

Having a patch with rectangular boundaries is useful to study logical qubits protected under biased noise (See Game of Surface Codes Fig 2. for example).  There are no

Proposed Solution
-----------------
@gwwatkin suggested adding some metadata to the response JSON to specify these things

[2022-07-20 18:55] gwwatkin commented on #292
I think there are two cases to think about:
 * Multi cell patches (interesting for logical computation purpose)
 * Metadata to deform patch shape (account for biased noise)

However in the second case, determining the shape of patches might be the role of a decoder, that is aware of the noise characteristics of the device. As far as this package is concerned, patches don't need to be squared.